
<% @items.each do |item| %>
  <p><%= item.title %> | <%= number_to_currency(item.price) %> |<% if current_user.current_cart %> <%= button_to 'Add to Cart', line_items_path(item_id: item) %><% end %></p>
<% end %>
